@use "/src/mx/values";
@use "../../../elevation";
@use "/src/mx/typescale";
@use "base";

@use "sass:color";
@use "sass:math";

$mx-button--elevation-on-hover: "elevation";
$mx-button--overlay-on-hover: "overlay";
$mx-button--overlay-elevation-on-hover: "overlay|elevation";
$mx-button--on-hover: $mx-button--overlay-on-hover;

.filled-button-component {
  @extend .component;

  overflow: hidden;
}

.filled-button-shadow-layer {
  @extend .shadow-layer;

  &--hovered {
    @include elevation.mx-shadow(elevation.$level1)
  }
}

.filled-button-container {
  @extend .container;

  position: relative;

  &--enabled {
    background-color: values.$colorPrimary;
  }

  &--disabled {
    $color: color.change(values.$colorOnSurface, $alpha: 0.12);
    background-color: $color;
  }

  &--hovered {
    @extend .filled-button-container--enabled;
  }

  &--pressed {
    @extend .filled-button-container--enabled;
  }
}

.filled-button-state-layer {
  @extend .state-layer;

  position: absolute;

  &--hovered {
    background-color: color.change(values.$colorOnPrimary, $alpha: values.$state-layer-opacity--hovered);
  }

  &--focused {
    background-color: color.change(values.$colorOnPrimary, $alpha: values.$state-layer-opacity--focused);
  }

  &--pressed {
    //background-color: color.change(values.$colorOnPrimary, $alpha: values.$state-layer-opacity--pressed);
  }
}

.filled-button-label {
  @extend .label;

  color: values.$colorOnPrimary;

  &--enabled {
    color: values.$colorOnPrimary;
  }

  &--disabled {
    color: color.change(values.$colorOnSurface, $alpha: 0.38);
  }
}