@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes fill {
  to {
    transform: scale(4);
  }
}

@keyframes unfill {
  to {
    transform: scale(0);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}